body{
  background: #fff;
  color: #000;
  display: flex;
  margin: 0;
}

.mainApp{
  width: 100vw;
  text-align: center;
  display: flex;

  ul{
    padding: 0;
    display: block;
    height: 50px;
    align-items: center;
    justify-content: center;
    li{
      list-style: none;
      padding: 0 20px;
      text-transform: uppercase;
    }
  }

  .link{
    text-decoration: none;
  }
}

.home{
  width: 100vw;
  height: calc(100vh - 15px);
  background: #fff;
  border-bottom: 15px solid #0000FF;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  overflow: hidden;

  .background{
    width : 60vw;
    height : 60vh;
    z-index: 0;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    border: #ffc600 1px solid;
    transition: transform .2s ease-out;
    transform-style: preserve-3d;
    box-shadow: 0 2px 11px -2px rgba(99,99,99,0.6);
    -moz-opacity: 0;

    &:hover{
      transform: translateZ(140px);
    }
  }

  .logo{
    width: 30vw;
    position: relative;
    z-index: 1;
    top: -1vh;
  }

  .formWrapper{
    width: 30vw;
    padding: 5vw;
    left: -5vw;
    position: relative;
  }

  .storeForm{
    position: relative;
    z-index: 20;
    top: 10px;

    input[type=submit]{
      padding: 7px 19px 7px 19px;
      border: 1px solid #1a1a1a;
      background: #000;
      color: #fff;
      height: 34px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      transition: all 0.45s;

      &:hover{
        box-shadow: inset 34px 34px 0 0 #0000ff;
        cursor: pointer;
      }
    }

    select {
      border: 1px solid #1a1a1a;
      background: transparent;
      width: 220px;
      padding: 5px 27px 5px 15px;
      border-radius: 0;
      height: 34px;
      appearance: none;
      background: url(https://www.dropbox.com/s/albhef15vue5z1s/down-arrow.png?dl=1) 92% / 8% no-repeat #fff;
    }
  }
}

.main{
  border: 1px solid palevioletred;
  height: 100vh;
  width: 33.33vw;
}

.readingList{
  border: 1px solid palevioletred;
  height: 100vh;
  width: 33.33vw;
}

.contribution{
  border: 1px solid palevioletred;
  height: 100vh;
  width: 33vw;
}

.feed{
    img{
      max-width: 250px;
    }
}